<% if (Cecilia.currentUser != undefined){ %>
<button type="button" class="btn btn-primary js-edit"><i class="glyphicon glyphicon-pencil"></i> Edit Page</button>
<% }%>
<h1><%- title %></h1>
<%if(body){ %><%= marked(body) %><%} %>
