<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cecilia-mobile-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#home">St. Cecilia V</a>
</div>
<div id="cecilia-mobile-nav" class="collapse navbar-collapse">
    <ul class="nav navbar-nav"></ul>
</div>
