
    <div id="app-container">
      <div id="header-region"></div>
      <div id="main-region" class="container">
        <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
      </div>

      <div id="dialog-region"></div>
    </div>
    <script type="text/javascript">
     // Cecilia.start();
    </script>
