<nav class="navbar navbar-default  hidden-lg hidden-md" id="mobile-nav-region"></nav>
<main class="flex-center">
  <div class="hidden-sm hidden-xs" style="background-image: url(<%= asset_path 'cecilia1a.png'%>); height: 267px; width: 103px; border: 0px">
    &nbsp;
  </div>
  <div class="hidden-sm hidden-xs" style="background-image: url(<%= asset_path 'cecilia1b.png'%>); height: 267px; width: 673px; border: 0px">
  
    <div class="hidden-sm hidden-xs" id="cecilia-title" style="padding-left:140px;">
     <center>
    <h3>The Barony of Cynnabar presents</h3>
    <h1>St. Cecilia at the Tower V</h1>
    <h2>April 30-May 1, 2016</h2></center>
     </div>
    <div style="margin-left:120px; margin-top:90px; display: block !important" class="visible-sm-* visible-xs-*" id="header-region"  ></div>
  </div>
  
  
    <div class="hidden-sm hidden-xs" style="background-image: url(<%= asset_path 'cecilia1c.png'%>); height: 267px; width: 103px; border: 0px">
    &nbsp;
  </div>
</main>

<main class="flex-center">
  <div class="hidden-sm hidden-xs" style="background-image: url(<%= asset_path 'cecilia2a.png' %>); height: 700px; width: 100px; border: 0px">
    &nbsp;
  </div>
  <div id="main-region" style="height: 700px; width: 673px; border: 0px">
    
  
  </div>
    <div style="height: 700px; width: 103px; border: 0px">
    &nbsp;
  </div>
</main>

      <div id="dialog-region"></div>
    </div>
    <script type="text/javascript">
      Cecilia.start();
    </script>
