<td><a class="js-show" href="#teachers/<%=username%>"><%=sca_first_name%> <%=sca_last_name%></a></td>
<td>
        <button class="btn btn-default btn-small js-edit">
          <i class="glyphicon glyphicon-pencil"></i>
          Edit
        </button>
</td>
