<h1>Manage Users</h1>
<button type="button" class="btn btn-primary js-new"><i class="glyphicon glyphicon-plus"></i> New User</button>
<table class="table">
<thead>
<tr><th>User Name</th><th></th></tr>
</thead>
<tbody></tbody>
</table>
