<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      Are you sure you want to delete "<%=title%>"?
    </div> 
    <div class="modal-footer">
      <button type="button"  class="btn btn-primary js-delete" data-dismiss="modal">Delete</button>
      <button type="button" class="btn btn-default js-cancel" data-dismiss="modal">Cancel</button>
    </div>
  </div> 
</div>
