<h1>Manage Activities</h1>
<button type="button" class="btn btn-primary js-new"><i class="glyphicon glyphicon-plus"></i> New Activity</button>
<table class="table">
<thead>
<tr><th>Title</th><th>Description</th><th>Difficulty</th><th>Teaching Style</th><th>Category</th><th></th></tr>
</thead>
<tbody></tbody>
</table>
