


<main class="flex-center">
  <div style="background-image: url(<%= asset_path 'cecilia1a.png'%>); height: 267px; width: 103px; border: 0px">
    &nbsp;
  </div>
  <div style="background-image: url(<%= asset_path 'cecilia1b.png'%>); height: 267px; width: 673px; border: 0px">
  
    <div style="padding-left:140px;">
     <center>
    <h3>The Barony of Cynnabar presents</h3>
    <h1>St. Cecilia at the Tower V</h1>
    <h2>April 30-May 1, 2016</h2></center>
     </div>
    <div id="header-region" style=" margin-left: 30px; padding-left: 100px; padding-top: 80px; " ></div>
  </div>
  
  
    <div style="background-image: url(<%= asset_path 'cecilia1c.png'%>); height: 267px; width: 103px; border: 0px">
    &nbsp;
  </div>
</main>

<main class="flex-center">
  <div style="background-image: url(<%= asset_path 'cecilia2a.png' %>); height: 700px; width: 100px; border: 0px">
    &nbsp;
  </div>
  <div id="main-region" style="height: 700px; width: 673px; border: 0px">
    
  
  </div>
    <div style="height: 700px; width: 103px; border: 0px">
    &nbsp;
  </div>
</main>

      <div id="dialog-region"></div>
    </div>
    <script type="text/javascript">
      Cecilia.start();
    </script>
