<h3> <%= moment(day).format('dddd, MMMM Do, YYYY') %> </h3>
<table class="table table-bordered">
<thead>
<th class="redips-mark">Time</th>
<% for(var i = 0; i<classrooms.length; i++){ %>
  <th class="redips-mark"><%= classrooms[i] %></th>
<% } %>
</thead>
<tbody>
</tbody>
</table>
