<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4><%= title %></h4></small>
    </div>
    <div class="modal-body">
<form>
<div class="control-group">
<label for="classroom-name" class="control-label">
Classroom Name:</label> 
<input class="form-control" id="classroom-name" name="name" type="text" value="<%- name %>"/>
</div>
<button class="btn btn-primary js-submit">Save</button>
</form>
</div>
</div>
</div>
