<form>
<div class="control-group">
<label for="classroom-name" class="control-label">
Classroom Name:</label> 
<input class="form-control" id="classroom-name" name="name" type="text" value="<%- name %>"/>
</div>
<button class="btn btn-primary js-submit">Save</button>
</form>
