body { margin: 0px auto 10px auto; padding: 0px; 
    margin-top:0; margin-right:auto; margin-bottom:0; margin-left:auto; 
    background-image: url(http://www.cynnabar.org/terpsichore/terp-parch2.jpg); background-repeat: repeat;
}

div.hr { 
    color: #f00;
    background-color: #f00;
    height: 5px;  line-height:50%; margin:0; position:relative;
    top:-10px; width:90%; 
}

.desktop_hidden {
    display: none;
}


.transparent {
  background: rgba(0,0,0,0.0);
  border-color: transparent;
}
