<h1>Complete List of Classes Taught at St. Cecilia at the Tower</h1>
<table class="table">
<thead>
<th>Year</th><th>Title</th><th>Teachers</th><th>Difficulty</th><th>Teaching Style</th><th>Category</th>
</thead>
<tbody></tbody>
</table>
