<h1>Class Schedule</h1>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#legend">Legend</button>
<div class="collapse" id="legend">
<div class="well">
<ul>
<h4>
  <li> <label class="label label-level-1">Level 1</label> Class is appropriate for non-musicians</li>
  <li> <label class="label label-level-2">Level 2</label> Class is geared toward those who have studied music for less than a year, or who make music only occasionally.</li>
  <li> <label class="label label-level-3">Level 3</label> Concepts/skills in this class are aimed at musicians who are comfortable with their instruments.</li>
  <li> <label class="label label-level-4">Level 4</label>  Experienced musicians may find this class challenging</li>
  <li> <label class="label label-level-5">Level 5</label> This class is very challenging and/or requires a significant amount of specialized knowledge as a prerequisite.</li>
  <li><i class="glyphicon icon-lecture" title="Lecture"></i> Lecture Class </li>
  <li><i class="glyphicon icon-playing" title="Playing"></i> Playing Class </li>
  <li><i class="glyphicon icon-sing" title="Vocal"></i> Class particularly suited for vocalists </li>
  <li><i class="glyphicon icon-violin" title="Instrumental"></i> Class particularly suited for instrumentalists </li>
</h4>
</ul>
</div>
</div>
<div class="schedule"></div>
