<h2><%= moment(day).tz("America/Detroit").format('dddd, MMMM Do YYYY')%></h2>
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<th>Time</th>
<% for(var i=0; i< classrooms.length; i++){ %>
  <th><%= classrooms[i] %></th>
<% } %>
</thead>
<tbody>
</tbody>
</table>
</div>
